<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyAwasApp</display-name>
  <welcome-file-list>
    <welcome-file>adminLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.sagar.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDealer</display-name>
    <servlet-name>AddDealer</servlet-name>
    <servlet-class>com.sagar.services.AddDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDealer</servlet-name>
    <url-pattern>/AddDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAawas</display-name>
    <servlet-name>NewAawas</servlet-name>
    <servlet-class>com.sagar.services.NewAawas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAawas</servlet-name>
    <url-pattern>/NewAawas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerLogin</display-name>
    <servlet-name>DealerLogin</servlet-name>
    <servlet-class>com.sagar.services.DealerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerLogin</servlet-name>
    <url-pattern>/DealerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDealerLogin</display-name>
    <servlet-name>MyDealerLogin</servlet-name>
    <servlet-class>com.sagar.services.MyDealerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDealerLogin</servlet-name>
    <url-pattern>/MyDealerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>com.sagar.services.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.sagar.services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitBill</display-name>
    <servlet-name>SubmitBill</servlet-name>
    <servlet-class>com.sagar.services.SubmitBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitBill</servlet-name>
    <url-pattern>/SubmitBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>com.sagar.services.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>com.sagar.services.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
</web-app>